@model IEnumerable<MvcMovie.Models.Person>

@{
    ViewData["Title"] = "Index";
}

<h1>Person</h1>

<p>
    <a asp-action="Create">Tạo mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PersonName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PersonName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PersonID">Sửa</a> |
                <a asp-action="Details" asp-route-id="@item.PersonID">Thông tin</a> |
                <a asp-action="Delete" asp-route-id="@item.PersonID">Xoá</a>
            </td>
        </tr>
}
    </tbody>
</table>
